@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/tokens.css";

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground tracking-tight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
    text-wrap: balance;
  }
}

@layer utilities {
  .bg-halftone {
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 4px 4px;
    background-attachment: fixed;
  }
  .bg-halftone-mask {
    background-image: radial-gradient(transparent 1.2px, #fff 1.2px);
    background-size: 4px 4px;
    background-attachment: fixed;
  }
  .bg-halftone-mask-dense {
    background-image: radial-gradient(transparent 1.8px, #fff 1.8px);
    background-size: 4px 4px;
    background-attachment: fixed;
  }
}